.right {

  width:40%;
  display: inline-block;


}


.name  {
  width: 215px;
  margin-bottom: 5px;
  color: #C3C3C3;
  font-size: 12px;
  padding: 2px;


}

.email {

  width: 215px;
  font-size: 12px;
  padding: 2px;


}

.message {
margin-top: 12px;


}

.sub {

  width: 170px;
  height: 27px;
  padding: 2px;
  background-color: $dark-red;
  font-size: 12px;
  color: white;
  text-align: center;

}
