.left {
  width:58%;
  display: inline-block;
}
 .foot-h {
  float: left;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 18px;
  padding: 2px;
}

 .foot-p {
font-size: 12px;
margin-left: 5px;
padding: 5px;
line-height: 18px;
float: left;

}


.social-icons img{
width: 6%;
background-color: #A2A7A8;
padding: 2px;
display:inline-block;
margin-left: 57px;
margin-top: 10px;

}
