.middle-img {

  background-image: url('../images/top-image.png');
  background-size: 129%;
  background-repeat: no-repeat;
  height: 250px;
  margin-top: 30px;
  background-position-y: -52px;
  background-position-x: -14;
  border: 5px solid white;
}

.peralta {
width: 300px;
height: 180px;
margin-top: 30px;
padding: 5px;

}
